.idea
.gradle
test_build
/build
/hadesboot/build
/hades-server
/hades-server.object
/hdc.object
/hdc
.vscode
/run_suite
/run_suite.object
/target
/.metals
/.bloop
/.bsp
/node_modules
*.obj
/venv
.DS_Store
/stdlib/libhdc.o
/libhdc.o
